.todo {
    background-color: rgba(255, 255, 0, 0.512);
    font-size: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 80vh;
    box-shadow: 0 0 10px 10px #ccc;
    border-radius: 15px;
    font-family: sans-serif;
    & .todo__title {
        text-align: center;
        margin-bottom: 10px;
    }

    & .todo__search {
        margin-top: 20px;
    }

    & .todo__filter {
        margin-top: 20px;
    }

    & .todo__add {
        margin-top: 20px;
    }
}
